<article class="container">
    <div>
        <form class="form" (submit)="showAlert()">
            <div class="form-group">
                <label>Name</label> <input class="form-control" type="text" required>
            </div>
            <div class="form-group">
                <label>Surname</label> <input class="form-control" type="text" required>
            </div>
            <div class="form-group">
                <label>Email</label> <input class="form-control" type="text" required>
            </div>
            <div class="form-group">
                <textarea class="form-control"  name="" cols="30" rows="10" placeholder="" required></textarea>
            </div>
            <button class="btn btn-primary" id="enviarFormulario" type="submit">Contact </button>
        </form>
    </div>
</article>